# Write csv

In [1]:
import csv

rows=[]

with open('data-text.csv',encoding = 'utf-8') as f:
    reader=csv.reader(f) #csv reader 객체 생성
    for row in reader:
        rows.append(row)
rows[:100]

[['Indicator',
  'PUBLISH STATES',
  'Year',
  'WHO region',
  'World Bank income group',
  'Country',
  'Sex',
  'Display Value',
  'Numeric',
  'Low',
  'High',
  'Comments'],
 ['Life expectancy at birth (years)',
  'Published',
  '1990',
  'Europe',
  'High-income',
  'Andorra',
  'Both sexes',
  '77',
  '77.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Andorra',
  'Both sexes',
  '80',
  '80.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Andorra',
  'Female',
  '28',
  '28.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Andorra',
  'Both sexes',
  '23',
  '23.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Eastern Mediterranean',
  'High-income',
  'United Arab Emirates',
  'Female',
  '78',
  '78.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Americas',
  'High-income',
  'Antigua and Barbuda',
  'Male',
  '72',
  '72.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '1990',
  'Americas',
  'High-income',
  'Antigua and Barbuda',
  'Male',
  '17',
  '17.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Americas',
  'High-income',
  'Antigua and Barbuda',
  'Both sexes',
  '22',
  '22.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Western Pacific',
  'High-income',
  'Australia',
  'Male',
  '81',
  '81.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Western Pacific',
  'High-income',
  'Australia',
  'Both sexes',
  '80',
  '80.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Western Pacific',
  'High-income',
  'Australia',
  'Both sexes',
  '83',
  '83.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Austria',
  'Female',
  '83',
  '83.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Austria',
  'Female',
  '25',
  '25.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Belgium',
  'Female',
  '83',
  '83.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Eastern Mediterranean',
  'High-income',
  'Bahrain',
  'Male',
  '73',
  '73.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '1990',
  'Eastern Mediterranean',
  'High-income',
  'Bahrain',
  'Female',
  '74',
  '74.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '1990',
  'Eastern Mediterranean',
  'High-income',
  'Bahrain',
  'Male',
  '17',
  '17.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Americas',
  'High-income',
  'Bahamas',
  'Male',
  '72',
  '72.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Americas',
  'High-income',
  'Bahamas',
  'Both sexes',
  '21',
  '21.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '1990',
  'Americas',
  'High-income',
  'Barbados',
  'Male',
  '71',
  '71.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Americas',
  'High-income',
  'Barbados',
  'Female',
  '25',
  '25.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Americas',
  'High-income',
  'Barbados',
  'Both sexes',
  '23',
  '23.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '1990',
  'Western Pacific',
  'High-income',
  'Brunei Darussalam',
  'Female',
  '20',
  '20.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Western Pacific',
  'High-income',
  'Brunei Darussalam',
  'Female',
  '22',
  '22.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Western Pacific',
  'High-income',
  'Brunei Darussalam',
  'Female',
  '21',
  '21.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Americas',
  'High-income',
  'Canada',
  'Female',
  '82',
  '82.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Americas',
  'High-income',
  'Canada',
  'Male',
  '21',
  '21.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '1990',
  'Americas',
  'High-income',
  'Canada',
  'Female',
  '24',
  '24.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '1990',
  'Europe',
  'High-income',
  'Switzerland',
  'Male',
  '74',
  '74.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Switzerland',
  'Both sexes',
  '83',
  '83.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Switzerland',
  'Both sexes',
  '23',
  '23.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Western Pacific',
  'High-income',
  'Cook Islands',
  'Both sexes',
  '76',
  '76.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Western Pacific',
  'High-income',
  'Cook Islands',
  'Female',
  '22',
  '22.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Western Pacific',
  'High-income',
  'Cook Islands',
  'Both sexes',
  '18',
  '18.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Cyprus',
  'Female',
  '79',
  '79.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Cyprus',
  'Both sexes',
  '77',
  '77.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Cyprus',
  'Female',
  '22',
  '22.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Cyprus',
  'Female',
  '26',
  '26.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Czech Republic',
  'Male',
  '75',
  '75.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '1990',
  'Europe',
  'High-income',
  'Czech Republic',
  'Female',
  '75',
  '75.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '1990',
  'Europe',
  'High-income',
  'Germany',
  'Female',
  '79',
  '79.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '1990',
  'Europe',
  'High-income',
  'Germany',
  'Male',
  '18',
  '18.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Germany',
  'Male',
  '20',
  '20.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Denmark',
  'Both sexes',
  '80',
  '80.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '1990',
  'Europe',
  'High-income',
  'Denmark',
  'Male',
  '18',
  '18.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Denmark',
  'Male',
  '19',
  '19.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Denmark',
  'Both sexes',
  '21',
  '21.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Denmark',
  'Both sexes',
  '23',
  '23.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Spain',
  'Both sexes',
  '82',
  '82.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Spain',
  'Female',
  '25',
  '25.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '1990',
  'Europe',
  'High-income',
  'Spain',
  'Both sexes',
  '22',
  '22.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '1990',
  'Europe',
  'High-income',
  'Estonia',
  'Female',
  '75',
  '75.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Estonia',
  'Female',
  '81',
  '81.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Estonia',
  'Male',
  '18',
  '18.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Estonia',
  'Female',
  '21',
  '21.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Estonia',
  'Female',
  '24',
  '24.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '1990',
  'Europe',
  'High-income',
  'Finland',
  'Female',
  '79',
  '79.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Finland',
  'Male',
  '22',
  '22.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'France',
  'Male',
  '75',
  '75.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'France',
  'Male',
  '20',
  '20.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'United Kingdom of Great Britain and Northern Ireland',
  'Female',
  '83',
  '83.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'United Kingdom of Great Britain and Northern Ireland',
  'Both sexes',
  '81',
  '81.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '1990',
  'Europe',
  'High-income',
  'United Kingdom of Great Britain and Northern Ireland',
  'Male',
  '18',
  '18.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Africa',
  'High-income',
  'Equatorial Guinea',
  'Female',
  '52',
  '52.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '1990',
  'Africa',
  'High-income',
  'Equatorial Guinea',
  'Female',
  '15',
  '15.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Africa',
  'High-income',
  'Equatorial Guinea',
  'Female',
  '17',
  '17.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Greece',
  'Male',
  '78',
  '78.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Greece',
  'Female',
  '83',
  '83.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Croatia',
  'Both sexes',
  '78',
  '78.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '1990',
  'Europe',
  'High-income',
  'Croatia',
  'Male',
  '16',
  '16.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Croatia',
  'Both sexes',
  '19',
  '19.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Hungary',
  'Male',
  '68',
  '68.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Hungary',
  'Both sexes',
  '72',
  '72.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '1990',
  'Europe',
  'High-income',
  'Hungary',
  'Male',
  '15',
  '15.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Hungary',
  'Female',
  '22',
  '22.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Hungary',
  'Both sexes',
  '18',
  '18.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Ireland',
  'Both sexes',
  '77',
  '77.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '1990',
  'Europe',
  'High-income',
  'Ireland',
  'Both sexes',
  '19',
  '19.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Ireland',
  'Both sexes',
  '20',
  '20.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Iceland',
  'Female',
  '84',
  '84.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Iceland',
  'Female',
  '24',
  '24.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '1990',
  'Europe',
  'High-income',
  'Israel',
  'Male',
  '75',
  '75.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Israel',
  'Male',
  '21',
  '21.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Israel',
  'Both sexes',
  '24',
  '24.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '1990',
  'Europe',
  'High-income',
  'Italy',
  'Male',
  '74',
  '74.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Italy',
  'Male',
  '77',
  '77.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Italy',
  'Male',
  '21',
  '21.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Italy',
  'Both sexes',
  '25',
  '25.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Western Pacific',
  'High-income',
  'Japan',
  'Female',
  '29',
  '29.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '1990',
  'Western Pacific',
  'High-income',
  'Japan',
  'Both sexes',
  '23',
  '23.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Western Pacific',
  'High-income',
  'Japan',
  'Both sexes',
  '25',
  '25.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '1990',
  'Western Pacific',
  'High-income',
  'Republic of Korea',
  'Female',
  '76',
  '76.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '1990',
  'Western Pacific',
  'High-income',
  'Republic of Korea',
  'Both sexes',
  '72',
  '72.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Western Pacific',
  'High-income',
  'Republic of Korea',
  'Female',
  '23',
  '23.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Eastern Mediterranean',
  'High-income',
  'Kuwait',
  'Male',
  '74',
  '74.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Eastern Mediterranean',
  'High-income',
  'Kuwait',
  'Female',
  '76',
  '76.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '1990',
  'Eastern Mediterranean',
  'High-income',
  'Kuwait',
  'Female',
  '18',
  '18.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Luxembourg',
  'Male',
  '75',
  '75.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Luxembourg',
  'Both sexes',
  '82',
  '82.00000',
  '',
  '',
  '']]

In [2]:
#csv write
with open('data-text20.csv','w',encoding='utf-8',newline='') as f:
    writer=csv.writer(f)
    writer.writerows(rows[:20]) #데이터 20개로 잘라냄

# SQL

In [3]:
import sqlite3
#DB연결
con=sqlite3.connect("C:/Users/Seung Soo/Desktop/Data Eng/test1.db")
#cursor객체 만들기
cursor=con.cursor()

In [5]:
#table만들기
cursor.execute("CREATE TABLE school(name text,number int, math_score int)")

In [6]:
data=[['James',1,80], #이걸로 보기쉽게 2차원리스트로. 밑에 for row in data로 입력
     ['Tom',5,90],
     ['Scott',8,55]
     ]

In [7]:
#데이터 입력
#cursor.execute('INSERT INTO SCHOOL VALUES("James",1,80)')

for row in data: #리스트를 이용해서 보기쉽게 입력 
    cursor.execute('INSERT INTO SCHOOL VALUES(?,?,?)',(row[0],row[1],row[2]))

In [8]:
#DB에 반영
con.commit()

In [9]:
#DB 연결 종료
con.close()