In [1]:
import seaborn as sns

In [2]:
df=sns.load_dataset('titanic')

In [4]:
#count NaN in column
missing_df=df.isnull()
missing_count = missing_df['embark_town'].value_counts()
print('embark_town : ', missing_count[True])

embark_town :  2

In [5]:
#index for missing data
for index,check in enumerate(missing_df['embark_town']):
    if check == True:
        first_missing = index
        break;
#index
df['embark_town'][index-2:index+3]

59    Southampton
60      Cherbourg
61            NaN
62    Southampton
63    Southampton
Name: embark_town, dtype: object

In [7]:
#가장 많은 승선도시 찾기
most_freq= df['embark_town'].value_counts().idxmax()
most_freq

'Southampton'

In [8]:
df['embark_town'].fillna(most_freq, inplace=True)

In [9]:
df['embark_town'][index-2:index+3]

59    Southampton
60      Cherbourg
61    Southampton
62    Southampton
63    Southampton
Name: embark_town, dtype: object